<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Cream</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/icecream.js" defer></script>

    <!-- Favicon -->
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoKHnXPENvCGbSh39wRXLH3ZS24CSY1w32TA&s">
</head>
<body>
    <main>
        <header>
            <h1>Order Confirmation</h1>
        </header>
        <h1>Thank you for your order, <%= order.fname %></h1>
        <h2>Order Summary</h2>
        <p>Name: <%= order.fname%>, <%= order.lname%></p>
        <p>Email:<%= order.email%></p>
        <p>flavor: <%= order.flavor%></p>
        <p>Cone: <%= order.method%></p>
        <p>toppings: <%= order.toppings%></p>
        <p>Comment:<%= order.comment%></p>
    <main>
        <a href = "http://localhost:3001/admin">Admin page</a>
</body>
</html>